body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

input {
  outline: 0 !important;
}

body {
  background: url(../img/bg.jpg) center top no-repeat;
  background-size: cover;
}

.main {
  margin: 300px 215px;
  background: linear-gradient(292.74deg, rgba(198, 0, 0, 0.7) 4.85%, rgba(0, 0, 0, 0.7) 100%);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid red;
  padding-bottom: 121px;
}

.main-header {
  font-weight: 900;
  font-size: 40px;
  color: white;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 63px;
  margin-bottom: 63px;
}

.main-header span {
  color: #C60000;
}

.main-links {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #B48888;
  margin-bottom: 30px;
}

.main-input {
  width: 570px;
  height: 50px;
  font-weight: 500;
  font-size: 12px;
  padding-left: 20px;
  border-radius: 6px;
  border: 1px solid #B48888;
  background: transparent;
  color: white;
}

.main-input-mini {
  width: 270px;
}

.main-select {
  appearance: none;
  color: grey;
  outline: none;
  width: 570px;
  height: 50px;
  font-weight: 500;
  font-size: 12px;
  padding-left: 20px;
  border-radius: 6px;
  border: 1px solid #B48888;
  background: transparent;
  position: relative;
  background: url(../img/arrow-down.png) no-repeat center right 20px;
}

.main-static {
  width: 270px;
  height: 50px;
  font-weight: 500;
  font-size: 12px;
  background: none;
  margin-right: 30px;
  color: white;
  border: 1px solid white;
  display: flex;
  align-items: center;
}

.main-btn {
  font-weight: 500;
  font-size: 12px;
  color: #B48888;
  border: 1px solid #B48888;
  background: transparent;
  padding: 15px 24px;
  border-radius: 6px;
}

.main-btn-active {
  color: white;
  background: #B48888;
  border: 1px solid white;
}

.main-inputs-header {
  font-weight: 900;
  font-size: 32px;
  color: #B48888;
  text-align: center;
  margin-bottom: 15px;
}

.main-inputs-file {
  width: 570px;
  height: 180px;
  border: 1px solid #B48888;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 56px 244px;
  background: url("../img/photo-upload.png") no-repeat center;
  margin-bottom: 60px;
}

.main-inputs-btn {
  text-align: right;
  padding: 19px 72px;
  background: radial-gradient(76.67% 76.67% at 50% 50%, #C60000 0%, rgba(0, 0, 0, 0.51) 100%);
  border: 0.5px solid #5E0000;
  box-shadow: 0px 0px 10px rgba(198, 0, 0, 0.25);
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
}

select option {
  color: black;
  background: white;
}

.form-group {
  margin-bottom: 30px;
}

.text-muted span {
  color: green;
}

input[type='file'] {
  opacity: 0;
}

.info-select {
  width: 270px;
  background: url(../img/arrow-down.png) no-repeat center right 20px;
}

.info-click {
  background: url(../img/plus.png) no-repeat center right 20px;
}

#login{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.login-space{
  margin-bottom: 30px;
}

/* Accordion style */
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 6px;
}

.active, .accordion:hover {
  background-color: rgb(136, 60, 60); 
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}